body{
    display: flex;
    flex-direction: column;

    font-family: Arial;
    font-weight: bold;
    font-size: 14px;

    margin: 0;
    background-color: cadetblue;
}
.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    background-color: darkcyan;
    height: 75px;
}
.nav ul {
    display: flex;
    list-style-type: none;
    list-style: none;
}
.nav button{
    margin: 5px;
    background-color: #ff4d4d;
    padding: 20px;
    border-radius: 4px;

    color: white;
    font-weight: bolder;
}
.nav button:last-child {
    margin: 5px 20px 5px 5px ;
}
.nav a{
    color: #ff4d4d;
    text-decoration: none;
}
.logo {
    font-size: 32px;
    margin: 0 0 0 20px;
    -webkit-text-stroke: 1px #767676;
}

#div-form {
    background-color: #88ceb1;
    border: black 2px solid;
    border-width: 2px 0 2px 0;

    height: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.space-form {
    height: 200px;margin: 0
}
#div-form label{
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
}

#button-form {
    background-color: beige;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bolder;
    margin: 10px 0 0 0;
}

/**
tabela
 */

#div-table00 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#div-table01 {
    margin-top: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;

    border-radius: 10px;

    background-color: white;
}
table {
    background-color: #b8b7b7;
    border-radius: 4px;
    padding: 5px;
    margin: 20px 0 0 0;

    width: 80%;
    height: 30%;
}
table td {
    text-align: center;
}
#div-painel-button-listarCliente {
    margin: 10px 0 20px 340px;
}
#briefing {
    text-align: center;
    margin-top: 15%;
}