<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet"  href="style/styles.css"/>
    <link rel="icon" type="image/png" href="image/icon.png">
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <a href="/" class="logo">OrganizarTotal</a>
                <ul id="nav-mobile">
                    <button onclick="location.href = '/';">HOME</button>
                    <button onclick="location.href = '/cadastrocliente';">CADASTRO CLIENTE</button>
                    <button onclick="location.href = '/listadecliente';">LISTA DE CLIENTE</button>
                </ul>
            </div>
        </nav>
    </header>

    <div class="space-form"></div>
    <div id="div-form">
        <form method="post" action="/salvarcliente" style="display: flex; flex-direction: column; font-family: Arial; font-weight: 14">
            <label style="padding: 0 0 10px 0">CÓDIGO</label>
            <input name="codigo" autofocus type="number" style="text-decoration: none" required>
            <label style="padding: 10px 0 10px 0">RAZÃO SOCIAL</label>
            <input name="razaoSocial" required>
            <div style="margin: 10px 0 0 0">
                <label>SELECIONE</label>
                <select name="ativoInativo">
                    <option value="true" selected>ATIVO</option>
                    <option value="false">INATIVO</option>
                </select>

                <label>SELECIONE</label>
                <select name="novoVelho">
                    <option value="true" selected>NOVO</option>
                    <option value="false">VELHO</option>
                </select>
            </div>
            <input id="button-form" type="submit" value="SALVAR">
        </form>
    </div>
</body>
</html>