<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet"  href="style/styles.css"/>
    <link rel="icon" type="image/png" href="image/icon.png">
</head>
<body>
    <header th:replace="fragment-header :: header"/>
    <div class="div-space">
        <hr>
    </div>
    <div class="div-form">
        <form method="post" action="/saveCliente" style="display: flex; flex-direction: column; font-family: Arial; font-weight: 14">
            <label style="padding: 0 0 10px 0">CÓDIGO</label>
            <input name="codigo" autofocus type="number" style="text-decoration: none" required>
            <label style="padding: 10px 0 10px 0">RAZÃO SOCIAL</label>
            <input name="razaoSocial" required>
            <div style="margin: 10px 0 0 0">
                <label>SELECIONE</label>
                <select name="ativoInativo">
                    <option value="TRUE" selected>ATIVO</option>
                    <option value="FALSE">INATIVO</option>
                </select>

                <label>SELECIONE</label>
                <select name="novoVelho">
                    <option value="TRUE" selected>NOVO</option>
                    <option value="FALSE">VELHO</option>
                </select>
            </div>
            <input id="button-form" type="submit" value="SALVAR">
        </form>
    </div>
    <div class="div-space">
        <hr>
    </div>
</body>
</html>