<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"  href="style/styles.css"/>
    <link rel="icon" type="image/png" href="image/icon.png">
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <a href="/" class="logo">OrganizarTotal</a>
                <ul id="nav-mobile">
                    <button onclick="location.href = '/';">HOME</button>
                    <button onclick="location.href = '/cadastrocliente';">CADASTRO CLIENTE</button>
                    <button onclick="location.href = '/listadecliente';">LISTA DE CLIENTE</button>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>