<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"  href="style/styles.css"/>
    <link rel="icon" type="image/png" href="image/icon.png">
</head>
<body>
    <header th:replace="fragment-header :: header"></header>

    <div id="briefing">
        <h1>APLICAÇÃO ORGANIZARTOTAL</h1>
        <p>A aplicação foi criada com intuito de desenvolver as habilidades com Spring Boot, <br/>
           Thymeleaf, JPA, HTML e CSS. A aplicação deve cadastrar clientes, listar clintes,<br/>
            editar e  deletar clientes.</p>
    </div>
</body>
</html>